# Python cache
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
venv/
.venv/

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Database
*.db
*.sqlite3
*.dump

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# macOS
.DS_Store